page-hoy-medicamento-crear {
  ion-header {
    ion-navbar {
      ion-title {
        .toolbar-title {
          padding-left: 0;
        }
      }
    }
  }
  ion-content {
    .formRecordatorio {
      ion-list {
        margin-bottom: 0 !important;
        ion-item {
          &.item {
            &:last-child {
              .item-inner {
                border-bottom: 1px solid #dedede;
              }
            }
          }
          padding-right: 1.6rem;
          p {
            font-family: "vagBold";
            text-transform: uppercase;
            font-size: 1rem;
            color: #959da0;
          }
          h2 {
            margin-top: 0 !important;
            // font-family: "vagBold";
          }
        }
      }
      .addHorario {
        background: color($colors, blanco) !important;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
        padding-top: 1rem;
        p {
          font-family: "vagBold";
          text-transform: uppercase;
          font-size: 1rem;
          color: #959da0;
          margin: 0;
          padding-top: 1rem;
          i {
            &.hourIconAdd {
              position: relative;
              top: -8px;
              float: right;
            }
          }
        }
        ion-grid {
          padding-left: 0;
          padding-right: 0;
          ion-row {
            ion-col {
              span {
                &.hourIconClose {
                  display: block;
                  i {
                    position: relative;
                    top: 2px;
                  }
                }
              }
              button {
                margin: 0;
                text-transform: inherit;
                color: #000 !important;
                ion-datetime {
                  .datetime-placeholder {
                    color: #000 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ion-footer {
    button {
      border-radius: 0 !important;
      box-shadow: none !important;
      height: 6rem !important;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 2rem !important;
      span {
        font-family: "vagBold";
      }
    }
  }
}
