<ion-header>
    <ion-navbar color="blueMaterial">
        <ion-title>Añadir recordatorio</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="formRecordatorio">
        <ion-list>
            <ion-item>
                <h2>{{ medicamento.name }}</h2>
                <p>Medicina</p>
            </ion-item>
            <ion-item (click)="modalConsejo()">
                <h2>Consejos de la toma</h2>
                <p *ngIf="note==''">Presiona aquí</p>
                <p *ngIf="note!==''">{{ note }}</p>
            </ion-item>
            <ion-item (click)="modalDuracion()">
                <h2>Duración</h2>
                <p *ngIf="dayDurationText==''">Presiona aquí</p>
                <p *ngIf="dayDurationText!==''">{{ dayDurationText }}</p>
            </ion-item>
        </ion-list>
    </div>

</ion-content>