page-login {
  .scroll-content {
    padding: 32px;
    padding-bottom: 16px !important;
  }
  ion-content {
    background-color: color($colors, bgApp) !important;
    .logo {
      text-align: center;
      margin-bottom: 2rem;
      img {
        width: 45%;
      }
    }
    .form {
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      p {
        font-size: 1.6rem;
      }
      ion-list {
        ion-item {
          border-top: 0 !important;
          padding-left: 0;
          background-color: transparent !important;
          border-bottom-width: 2px !important;
          border-bottom-color: rgba(71, 77, 84, 0.5) !important;
          box-shadow: none !important;
          &.input-has-focus:last-child {
            border-bottom-color: rgba(71, 77, 84, 0.5) !important;
            box-shadow: none !important;
          }
          ion-icon {
            font-size: 2.5rem;
            color: rgba(71, 77, 84, 1);
            // color: color($colors, dark);
          }
          .item-inner {
            margin-left: 0 !important;
            ion-input {
              input {
                &::placeholder {
                  color: #cfd8dc;
                }
                &:-ms-input-placeholder {
                  color: #cfd8dc;
                }
                &::-ms-input-placeholder {
                  color: #cfd8dc;
                }
              }
            }
          }
        }
      }

      button {
        color: #f4f4f4;
        border-radius: 5px;
        span {
          ion-spinner {
            * {
              stroke: #f4f4f4 !important;
            }
          }
        }
      }
    }
  }
}
