page-informe-envio {
  ion-content {
    background-color: color($colors, blueStrongColor) !important;
    ion-grid {
      &.loadingGrid {
        height: 100%;
        ion-row {
          height: 100%;
          ion-col {
            img {
              width: 40%;
              filter: invert(1);
            }
            h6 {
              color: #fff;
            }
            button {
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  ion-footer {
    ion-navbar {
      padding: 4px 8px !important;
      .toolbar-content {
        button {
          padding: 0 1em;
          height: 2.8em;
          font-weight: bold;
          font-family: "vagBlack";
          font-size: 1.8rem;
          text-transform: initial;
          border-radius: 50px;
          span {
            letter-spacing: 0.05em;
          }
        }
      }
    }
  }
}
