page-medico {
  ion-header {
    ion-navbar {
      &.hiddenBack {
        &.toolbar-md {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
          .toolbar-background {
            background-color: color($colors, blanco) !important;
          }
          ion-searchbar {
            input {
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
  ion-content {
    .ionSpinner {
      text-align: center;
    }
    .contentMedico {
      height: 100%;
      .emptyMedico {
        height: 100%;
        ion-grid {
          height: 100%;
          ion-row {
            height: 100%;
            ion-col {
              text-align: center;
              ion-icon {
                font-size: 10rem;
              }
              p {
                font-size: 2rem;
              }
            }
          }
        }
      }

      .listadoMedico {
        ion-list {
          ion-item {
            margin: 1rem auto;
            width: 95%;
            border-radius: 8px;
            ion-thumbnail {
              margin: 8px 0px 8px 0 !important;
              min-width: 40px;
              min-height: 40px;
              img {
                width: 40px;
                height: 40px;
              }
            }
            ion-icon {
              &.micon {
                color: color($colors, themePrimaryOrangeStrongColor) !important;
                font-size: 3.5rem !important;
                margin-right: 0 !important;
              }
              &.list-detail {
                font-size: 2rem;
              }
            }

            .item-inner {
              margin-left: 1rem !important;
              border-bottom: 0 !important;
              ion-label {
                margin-right: 4rem;
                h2 {
                  margin-top: 0 !important;
                }
                h2,
                p {
                  text-transform: capitalize;
                }
              }
              ion-note {
                font-size: 1.2rem;
                align-self: center;
              }
            }
          }
        }
      }
    }
  }
  .searchbar-md .searchbar-search-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel {
    display: block !important;
    span {
      ion-icon {
        color: color($colors, themePrimaryOrangeStrongColor) !important;
        font-size: 1.5em !important;
      }
    }
  }
}
