page-medico {
  ion-header {
    ion-navbar {
      &.hiddenBack {
        &.toolbar-md {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
          .toolbar-background {
            background-color: #fff !important;
          }
          ion-searchbar {
            input {
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
  ion-content {
    .ionSpinner {
      text-align: center;
    }
    .contentMedico {
      height: 100%;
      .emptyMedico {
        height: 100%;
        ion-grid {
          height: 100%;
          ion-row {
            height: 100%;
            ion-col {
              text-align: center;
              ion-icon {
                font-size: 10rem;
              }
              p {
                font-size: 2rem;
              }
            }
          }
        }
      }

      .listadoMedico {
        ion-list {
          button {
            ion-icon {
              color: color($colors, orangeMaterial) !important;
              font-size: 3.5rem !important;
              margin-right: 0 !important;
            }
            .item-inner {
              margin-left: 1rem !important;
              ion-label {
                h2 {
                  margin-top: 0 !important;
                }
                h2,
                p {
                  text-transform: capitalize;
                }
              }
              ion-note {
                font-size: 1.2rem;
                align-self: center;
              }
            }
          }
        }
      }
    }
  }
  .searchbar-md .searchbar-search-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel {
    display: block !important;
    span {
      ion-icon {
        color: color($colors, orangeMaterial) !important;
        font-size: 1.5em !important;
      }
    }
  }
}
