page-medico {
  ion-content {
    ion-list {
      button {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
        &.item {
          border-radius: 10px;
        }
        ion-avatar {
          img {
            border-radius: 0 !important;
          }
        }
      }
    }
  }
}
