page-medico-cita-editar {
  ion-header {
    ion-navbar {
      button {
        &.back-button {
          color: color($colors, blanco) !important;
          margin-right: 0 !important;
        }
      }
      ion-title {
        .toolbar-title {
          letter-spacing: 0.02em;
          color: color($colors, blanco) !important;
          padding-left: 0;
        }
      }
    }
  }
  ion-content {
    .image {
      text-align: center;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
      border-radius: 50%;
      padding: 2rem;
      width: 140px;
      margin: 0 auto 2rem auto;
      border: 0.6rem solid #fff;
      ion-icon {
        font-size: 8rem;
      }
    }
    .fechaHora {
      ion-grid {
        padding: 0 !important;
        margin-bottom: 16px;
        ion-row {
          ion-col {
            ion-list {
              ion-item {
                border-radius: 8px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
                &.input-has-focus:last-child {
                  border-bottom-color: rgba(71, 77, 84, 0.5) !important;
                }
                .item-inner {
                  margin-left: 0 !important;
                  ion-datetime {
                    width: 100%;
                    text-align: right;
                  }
                }
              }
            }
            textarea {
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
              width: 100%;
              border-radius: 8px;
              padding: 16px;
              border-color: #fff !important;
              &::placeholder {
                color: #cfd8dc;
              }
              &:-ms-input-placeholder {
                color: #cfd8dc;
              }
              &::-ms-input-placeholder {
                color: #cfd8dc;
              }
            }
          }
        }
      }
      .buttons {
        button {
          color: #f4f4f4;
          padding: 0 1em;
          height: 2.8em;
          font-weight: bold;
          font-size: 1.8rem;
          // text-transform: initial;
          border-radius: 5px;
          // letter-spacing: 0.03em;
          span {
            font-family: "vagBlack";
            letter-spacing: 0.05em;
          }
        }
      }
    }
    .textContent {
      padding-right: 10px;
      padding-left: 10px;
      p{
        &:first-child{
          text-align: center;
        }
      }
    }
  }
}
