page-informe {
  .scroll-content {
    padding: 32px;
    padding-bottom: 16px !important;
  }

  ion-content {
    .iconText {
      text-align: center;
      margin-bottom: 3rem;
      i {
        font-size: 10em;
      }
      h6 {
        margin-top: 0;
      }
    }
    .listMonthData {
      ion-list {
        button {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
          &.item {
            border-radius: 10px;
          }
          ion-avatar {
            img {
              border-radius: 0 !important;
            }
          }
        }
      }
    }
    .formSendEmail {
      //   margin-top: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
      ion-grid {
        &.selectAnioMes {
          padding: 0 !important;
          ion-row {
            ion-col {
              &.colLeft {
                padding-left: 0 !important;
              }
              &.colRight {
                padding-right: 0 !important;
              }
              p {
                margin-top: 0;
                display: none;
              }
              ion-list {
                ion-item {
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
                  padding-left: 0;
                  border-radius: 10px;
                  ion-select {
                    max-width: 100% !important;
                    width: 100% !important;
                  }
                }
              }
            }
          }
        }
      }
      .listInputEmail {
        padding: 0 2px;
        ion-list {
          ion-item {
            border-top: 0 !important;
            padding-left: 0;
            background-color: transparent !important;
            border-bottom-width: 1px !important;
            border-bottom-color: rgba(71, 77, 84, 0.5) !important;
            box-shadow: none !important;
            &.input-has-focus:last-child {
              border-bottom-color: rgba(71, 77, 84, 0.5) !important;
              box-shadow: none !important;
            }
            ion-icon {
              font-size: 2.5rem;
              color: rgba(71, 77, 84, 1);
            }
            .item-inner {
              margin-left: 0 !important;
              ion-input {
                input {
                  &::placeholder {
                    color: #cfd8dc;
                  }
                  &:-ms-input-placeholder {
                    color: #cfd8dc;
                  }
                  &::-ms-input-placeholder {
                    color: #cfd8dc;
                  }
                }
              }
            }
          }
        }
      }
      button {
        padding: 0 1em;
        height: 2.8em;
        font-family: "vagBold";
        font-size: 1.8rem;
        // text-transform: initial;
        border-radius: 5px;
        span {
            letter-spacing: 0.05em;
          ion-spinner {
            * {
              stroke: #f4f4f4 !important;
            }
          }
        }
      }
    }
  }
}
