<ion-header>
    <ion-navbar color="orangeMaterial">
        <ion-title>Crear Cita</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="image">
        <img src="assets/imgs/intro/calendar.svg" alt="image">
    </div>
    <div class="fechaHora">
        <form (ngSubmit)="saveCita()">
            <ion-grid class="selectFechaHora">
                <ion-row>
                    <ion-col col-6 class="colLeft">
                        <ion-list>
                            <ion-item>
                                <ion-datetime [(ngModel)]="data.fecha" displayFormat="DD-MM-YYYY" min="{{ date }}"
                                    name="fecha" cancelText="Cancelar" doneText="OK" placeholder="Fecha"></ion-datetime>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col col-6 class="colRight">
                        <ion-list>
                            <ion-item>
                                <ion-datetime [(ngModel)]="data.hora" displayFormat="hh:mm a" name="hora" cancelText="Cancelar"
                                    doneText="OK" placeholder="Hora"></ion-datetime>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col col-12>
                        <textarea placeholder="Preguntas?" name="pregunta" [(ngModel)]="pregunta" rows="3"></textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="buttons">
                <button ion-button color="orangeMaterial" block *ngIf="!continue" type="submit">Guardar</button>
                <button ion-button color="orangeMaterial" block *ngIf="continue">
                    <ion-spinner></ion-spinner>
                </button>
            </div>
        </form>
    </div>
    <div class="textContent">
        <p>Recibirás un recordatorio el día de la cita.</p>
        <p>Se notificará 30 min antes para que tome sus precauciones.</p>
    </div>
</ion-content>