page-hoy-medicamento {
  ion-header {
    ion-navbar {
      ion-title {
        .toolbar-title {
          padding-left: 0 !important;
          text-transform: inherit !important;
          text-transform: uppercase !important;
        }
      }
    }
    ion-searchbar {
      background-color: color($colors, themePrimaryNavyBlueStrongColor) !important;
      .searchbar-input-container {
        input {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
          border-radius: 8px !important;
        }
      }
    }
    .headerBorder {
      .contenedor {
        min-height: 21px;
        &.blanco {
          background-color: color($colors, blanco) !important;
        }
      }
    }
  }
  ion-content {
    .addMedicamento {
      padding: 1rem;
      .preguntaMessage {
        text-align: center;
        ion-grid {
          ion-row {
            ion-col {
              button {
                padding: 0 1em;
                height: 2.8em;
                font-weight: bold;
                font-size: 1.5rem;
                text-transform: initial;
                border-radius: 50px;
                span {
                  letter-spacing: 0.05em;
                }
              }
            }
          }
        }
      }
      .formMedicamento {
        p {
          padding-left: 1rem;
          padding-right: 1rem;
          line-height: 140%;
        }
        form {
          ion-list {
            padding-left: 1rem;
            padding-right: 1rem;
            ion-item {
              border-bottom-width: 0 !important;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
              border-radius: 5px !important;
              &.input-has-focus:last-child {
                border-bottom-width: 0 !important;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
              }
            }
          }

          button {
            padding: 0 1em;
            height: 2.8em;
            font-weight: bold;
            font-size: 1.5rem;
            text-transform: initial;
            border-radius: 50px;
            span {
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
    .resultadoBusqueda {
      ion-list {
        // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
        box-shadow: none !important;
        margin-bottom: 0 !important;
        ion-item {
          // border-bottom: 1px solid color($colors, blueGrayLightMaterial);
          &:last-child {
            // border-radius: 0 0 5px 5px;
            .item-inner {
              border-bottom: 1px solid #dedede;
            }
          }
          ion-icon {
            color: color($colors, themePrimaryNavyBlueStrongColor) !important;
          }
          .item-inner {
            margin-left: 1rem !important;
            border-bottom: 0 !important;
            ion-label {
              h2 {
                margin-top: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
