@font-face {
  font-family: "VarelaRound";
  src: url("../assets/fonts/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "vagBlack";
  src: url("../assets/fonts/VAG-Rounded-Std-Black_47296.ttf");
}

@font-face {
  font-family: "vagBold";
  src: url("../assets/fonts/VAG-Rounded-Std-Bold_47297.ttf");
}

@font-face {
  font-family: "vagLight";
  src: url("../assets/fonts/VAG-Rounded-Std-Light_47298.ttf");
}

@font-face {
  font-family: "vagThin";
  src: url("../assets/fonts/VAG-Rounded-Std-Thin_47299.ttf");
}

* {
  font-family: "vagLight";
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "vagLight";
}

*::-webkit-scrollbar {
  display: none;
}

.platform-android {
  .ion-page {
    ion-header {
      ion-navbar {
        // padding-top: calc(env(safe-area-inset-top) + 48px) !important;
        // min-height: calc(96px + env(safe-area-inset-top)) !important;

        padding-top: calc(env(safe-area-inset-top) + 36px) !important;
        min-height: calc(76px + env(safe-area-inset-top)) !important;
      }
    }
  }
  &.platform-android9 {
    .ion-page {
      ion-header {
        ion-navbar {
          padding-top: calc(env(safe-area-inset-top) + 46px) !important;
          min-height: calc(96px + env(safe-area-inset-top)) !important;
        }
      }
    }
  }
}

ion-header {
  ion-navbar {
    ion-title {
      .toolbar-title {
        font-family: "vagBlack";
        text-transform: uppercase;
        padding-top: 5px;
      }
    }
  }
}

ion-content {
  background-color: color($colors, light) !important;
}

ion-toast.toastPersonalizado .toast-wrapper {
  bottom: 10px !important;
  width: 90%;
  border-radius: 5px;
}

ion-toast.text-center {
  text-align: center;
}

ion-toast.success .toast-wrapper {
  background: color($colors, greenMaterial) !important;
}

ion-toast.dark .toast-wrapper {
  background: color($colors, dark) !important;
}

ion-toast.error .toast-wrapper {
  background: color($colors, redMaterial) !important;
}

ion-toast.warning .toast-wrapper {
  background: color($colors, warningMaterial) !important;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ionSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-app .nav-decor {
  background-color: transparent !important;
}

.swiper-pagination {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: color($colors, bgApp);
  opacity: 1;
}

ion-tabs {
  .tabbar {
    background: color($colors, blanco) !important;
    a {
      min-height: 75px !important;
      &.tab-button[aria-selected="true"] {
        span {
          font-family: "vagBold";
        }
      }
      ion-icon {
        font-size: 3rem !important;
      }
      &:nth-child(1) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, blueMaterial) !important;
          ion-icon {
            color: color($colors, blueMaterial) !important;
          }
        }
      }
      &:nth-child(2) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, greenMaterial) !important;
          ion-icon {
            color: color($colors, greenMaterial) !important;
          }
        }
      }
      &:nth-child(3) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, redMaterial) !important;
          ion-icon {
            color: color($colors, redMaterial) !important;
          }
        }
      }
      &:nth-child(4) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, orangeMaterial) !important;
          ion-icon {
            color: color($colors, orangeMaterial) !important;
          }
        }
      }
    }
  }
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-arrow-left"] {
    mask-image: url(../assets/imgs/left-arrow.svg);
  }
  &[class*="custom-arrow-right"] {
    mask-image: url(../assets/imgs/right-arrow.svg);
  }
  &[class*="custom-hoy"] {
    mask-image: url(../assets/imgs/random/medicine.svg);
  }
  &[class*="custom-progreso"] {
    mask-image: url(../assets/imgs/random/progreso.svg);
  }
  &[class*="custom-informe"] {
    mask-image: url(../assets/imgs/random/informe.svg);
  }
  &[class*="custom-doctor"] {
    mask-image: url(../assets/imgs/random/doctor.svg);
  }
  &[class*="custom-cita"] {
    mask-image: url(../assets/imgs/random/cita.svg);
  }
}

.redMaterial {
  color: color($colors, redMaterial);
}

.orangeMaterial {
  color: color($colors, orangeMaterial);
}

.greenMaterial {
  color: color($colors, greenMaterial);
}

.blueGrayLightMaterial {
  color: color($colors, blueGrayLightMaterial);
}

.alert-wrapper {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1) !important;
  .alert-head {
    h2 {
      &.alert-title {
        font-family: "vagBold";
        letter-spacing: 0.08rem;
      }
    }
  }
}
