@font-face {
  font-family: "VarelaRound";
  src: url("../assets/fonts/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "vagBlack";
  src: url("../assets/fonts/VAG-Rounded-Std-Black_47296.ttf");
}

@font-face {
  font-family: "vagBold";
  src: url("../assets/fonts/VAG-Rounded-Std-Bold_47297.ttf");
}

@font-face {
  font-family: "vagLight";
  src: url("../assets/fonts/VAG-Rounded-Std-Light_47298.ttf");
}

@font-face {
  font-family: "vagThin";
  src: url("../assets/fonts/VAG-Rounded-Std-Thin_47299.ttf");
}

* {
  font-family: "VarelaRound";
  // letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "vagLight";
  font-family: "VarelaRound";
}

*::-webkit-scrollbar {
  display: none;
}

.platform-android {
  .ion-page {
    ion-header {
      ion-navbar {
        // padding-top: calc(env(safe-area-inset-top) + 48px) !important;
        // min-height: calc(96px + env(safe-area-inset-top)) !important;

        padding-top: calc(env(safe-area-inset-top) + 36px) !important;
        min-height: calc(76px + env(safe-area-inset-top)) !important;
      }
    }
  }
  &.platform-android10,
  &.platform-android9 {
    .ion-page {
      ion-header {
        ion-navbar {
          padding-top: calc(env(safe-area-inset-top) + 46px) !important;
          min-height: calc(96px + env(safe-area-inset-top)) !important;
        }
      }
    }
  }
}

ion-header {
  ion-navbar {
    ion-title {
      .toolbar-title {
        font-family: "vagBlack";
        text-transform: uppercase;
        padding-top: 5px;
      }
    }
  }
}

ion-content {
  background-color: color($colors, themeDefault) !important;
}

ion-toast.toastPersonalizado .toast-wrapper {
  bottom: 10px !important;
  width: 95%;
  border-radius: 5px;
}

ion-toast.text-center {
  text-align: center;
}

ion-toast.success .toast-wrapper {
  background: color($colors, themeSecondaryGreenStrongColor) !important;
}

ion-toast.dark .toast-wrapper {
  background: color($colors, dark) !important;
}

ion-toast.error .toast-wrapper {
  background: color($colors, themeSecondaryRedStrongColor) !important;
}

ion-toast.warning .toast-wrapper {
  background: color($colors, warningMaterial) !important;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ionSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-app .nav-decor {
  background-color: transparent !important;
}

.swiper-pagination {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: color($colors, bgApp);
  opacity: 1;
}

ion-tabs {
  .tabbar {
    background: color($colors, blanco) !important;
    &:before {
      height: 0 !important;
    }
    a {
      min-height: 75px !important;
      &.tab-button[aria-selected="true"] {
        span {
          font-family: "vagBold";
        }
      }
      ion-icon {
        font-size: 3rem !important;
      }
      &:nth-child(1) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, blueStrongColor) !important;
          ion-icon {
            color: color($colors, blueStrongColor) !important;
          }
        }
      }
      &:nth-child(2) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, themePrimaryLightBlueStrongColor) !important;
          ion-icon {
            color: color($colors, themePrimaryLightBlueStrongColor) !important;
          }
        }
      }
      &:nth-child(3) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, themeSecondaryGreenStrongColor) !important;
          ion-icon {
            color: color($colors, themeSecondaryGreenStrongColor) !important;
          }
        }
      }
      &:nth-child(4) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, themeSecondaryRedStrongColor) !important;
          ion-icon {
            color: color($colors, themeSecondaryRedStrongColor) !important;
          }
        }
      }
      &:nth-child(5) {
        &.tab-button[aria-selected="true"] {
          color: color($colors, themePrimaryOrangeStrongColor) !important;
          ion-icon {
            color: color($colors, themePrimaryOrangeStrongColor) !important;
          }
        }
      }
    }
  }
}
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-arrow-left"] {
    mask-image: url("../assets/imgs/left-arrow.svg");
  }
  &[class*="custom-arrow-right"] {
    mask-image: url("../assets/imgs/right-arrow.svg");
  }
  &[class*="custom-hoy"] {
    mask-image: url("../assets/imgs/random/hoy.svg");
  }
  &[class*="custom-medicina"] {
    mask-image: url("../assets/imgs/random/medicine.svg");
  }
  &[class*="custom-progreso"] {
    mask-image: url("../assets/imgs/random/progreso.svg");
  }
  &[class*="custom-informe"] {
    mask-image: url("../assets/imgs/random/informe.svg");
  }
  &[class*="custom-doctor"] {
    mask-image: url("../assets/imgs/random/doctor.svg");
  }
  &[class*="custom-doctor-men"] {
    mask-image: url("../assets/imgs/random/doctor-men.svg");
  }
  &[class*="custom-doctor-women"] {
    mask-image: url("../assets/imgs/random/doctor-women.svg");
  }
  &[class*="custom-cita"] {
    mask-image: url("../assets/imgs/random/cita.svg");
  }
}

.redMaterial {
  color: color($colors, themeSecondaryRedStrongColor);
}

.orangeMaterial {
  color: color($colors, themePrimaryOrangeStrongColor);
}

.greenMaterial {
  color: color($colors, themeSecondaryGreenStrongColor);
}

.blueGrayLightMaterial {
  color: color($colors, blueGrayLightMaterial);
}

.alert-wrapper {
  border-radius: 8px !important;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1) !important;
  .alert-head {
    h2 {
      &.alert-title {
        font-family: "vagBold";
        letter-spacing: 0.08rem;
      }
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.text-center {
  text-align: center;
}
.font-weight-bold {
  font-weight: bold;
}

.logoSvgCenter {
  text-align: center;
  img {
    width: 120px;
  }
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.pointer-none {
  pointer-events: none;
}

.no-padding-header {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.headerContain {
  background-color: color($colors, themeDefault);
  border-radius: 20px 20px 0 0;
  height: 20px;
  margin-top: 1rem;
}

.headerBorder {
  min-height: 20px;
  &.themePrimaryLightBlueBasicColor {
    background-color: color($colors, themePrimaryLightBlueBasicColor);
  }
  &.themePrimaryLightBlueStrongColor {
    background-color: color($colors, themePrimaryLightBlueStrongColor);
  }
  &.themePrimaryOrangeBasicColor {
    background-color: color($colors, themePrimaryOrangeBasicColor);
  }
  &.themePrimaryOrangeStrongColor {
    background-color: color($colors, themePrimaryOrangeStrongColor);
  }
  &.themePrimaryBlueGrayBasicColor {
    background-color: color($colors, themePrimaryBlueGrayBasicColor);
  }
  &.themePrimaryBlueGrayStrongColor {
    background-color: color($colors, themePrimaryBlueGrayStrongColor);
  }
  &.themePrimaryGreyStrongColor {
    background-color: color($colors, themePrimaryGreyStrongColor);
  }
  &.themePrimaryNavyBlueStrongColor {
    background-color: color($colors, themePrimaryNavyBlueStrongColor);
  }
  &.themeSecondaryGreenLightColor {
    background-color: color($colors, themeSecondaryGreenLightColor);
  }
  &.themeSecondaryGreenStrongColor {
    background-color: color($colors, themeSecondaryGreenStrongColor);
  }
  &.themeSecondaryRedLightColor {
    background-color: color($colors, themeSecondaryRedLightColor);
  }
  &.themeSecondaryRedStrongColor {
    background-color: color($colors, themeSecondaryRedStrongColor);
  }
  &.themeSecondaryBlueColor {
    background-color: color($colors, themeSecondaryBlueColor);
  }
  &.blanco {
    background-color: color($colors, blanco);
  }

  .contenedor {
    min-height: 20px;
    border-radius: 20px 20px 0 0;
    background-color: color($colors, themeDefault);
  }
}
