<ion-content>
    <ion-slides pager (ionSlideWillChange)="slideWillChange()" (ionSlideAutoplay)="slideAutoplay()">
        <ion-slide class="slide_one">
            <div class="intro-content-slide">
                <img src="assets/imgs/intro/drugs.svg" class="slide-image" />
                <h2 class="slide-title">Hoy</h2>
                <p>Te mostraremos una lista de los medicamentos que tienes que tomar en el día.</p>
            </div>
        </ion-slide>
        <ion-slide class="slide_two">
            <div class="intro-content-slide">
                <img src="assets/imgs/intro/heart.svg" class="slide-image" />
                <h2 class="slide-title">Progreso</h2>
                <p>Tendrás una lista donde estarán todos los medicamentos que agendaste.</p>
            </div>
        </ion-slide>
        <ion-slide class="slide_three">
            <div class="intro-content-slide">
                <img src="assets/imgs/intro/calendar_intro.svg" class="slide-image" />
                <h2 class="slide-title">Informe</h2>
                <p>Podrás hacer un envío de los medicamentos que has tomado en el mes, vía E-mail.<br>
                    Esto te sirve para mostrarle a tú medico.</p>
            </div>
        </ion-slide>
        <ion-slide class="slide_four">
            <div class="intro-content-slide">
                <img src="assets/imgs/intro/doctor.svg" class="slide-image" />
                <h2 class="slide-title">Médico</h2>
                <p>Podrás agregar a tú médico y poder agendar la(s) cita(s) para que podamos hacerte recordar.</p>
                <button class="button-continue" ion-button round color="light" (click)="goToLogin()">
                    Continuar
                    <i class="material-icons">chevron_right</i>
                </button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer no-border>
    <ion-navbar transparent>
        <ion-buttons *ngIf="previus">
            <button ion-button (click)="prevSlide()" icon-only>
                <ion-icon name="custom-arrow-left"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons end *ngIf="next">
            <button ion-button (click)="nextSlide()" icon-only>
                <ion-icon name="custom-arrow-right"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-footer>