page-intro {
  ion-footer {
    ion-navbar {
      button {
        color: #fff !important;
      }
    }
  }
  ion-content {
    .scroll-content {
      margin-bottom: 0 !important;
    }
    color: #fff !important;
    ion-slides {
      ion-slide {
        .intro-content-slide {
          padding-left: 1rem;
          padding-right: 1rem;
          img {
            width: 45%;
          }
          h2 {
            margin-top: 1rem;
            text-transform: uppercase;
            color: #f4f4f4;
            font-family: "vagBold";
          }
          p {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            padding: 0 3rem;
          }
          button {
            padding: 0 1em;
            height: 2.8em;
            font-weight: bold;
            font-size: 1.8rem;
            text-transform: initial;
            border-radius: 5px;
            width: 50vw;
            span {
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }

  ion-footer {
    ion-navbar {
      ion-buttons {
        button[icon-only] {
          margin-left: 10px !important;
          margin-right: 10px !important;
          font-size: 1.5em;
        }
      }
    }
  }

  .slide_one {
    background-color: color($colors, blueMaterial) !important;
  }
  .slide_two {
    background-color: color($colors, greenMaterial) !important;
  }
  .slide_three {
    background-color: color($colors, redMaterial) !important;
  }
  .slide_four {
    background-color: color($colors, orangeMaterial) !important;
  }
}
