page-medico-detalle {
  ion-header {
    ion-toolbar {
      min-height: 42px !important;
      padding: 0 !important;
      .toolbar-background {
        background-color: color($colors, orangeMaterial) !important;
      }
      .toolbar-content {
        ion-segment {
          height: 43px !important;
          ion-segment-button {
            border-color: #fff !important;
            color: #fff !important;
            font-size: 1.5rem !important;
            font-family: "vagBold";
            letter-spacing: 0.1em;
            border-bottom-width: 0px !important;
            &.segment-activated {
              border-bottom-width: 4px !important;
            }
          }
        }
      }
    }
  }
  ion-content {
    .perfilToolbar {
      .profileMedico {
        .photoMedico {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
          border-radius: 50%;
          padding: 2rem;
          width: 35%;
          margin: 0 auto;
          border: 0.6rem solid #fff;
        }
        h5 {
          font-weight: bold;
          margin-top: 1rem;
          margin-bottom: 0;
          font-family: "vagBold";
        }
        h6 {
          margin-top: 0;
        }
      }
      ion-list {
        margin-top: 2rem;
        button {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
          border-radius: 5px;
          .item-inner {
            .input-wrapper {
              ion-label {
                h2 {
                  margin-top: 0 !important;
                }
              }
            }
            ion-icon {
              color: rgba(71, 77, 84, 1);
            }
          }
        }
      }
    }
    .citasToolbar {
      ion-card {
        border-radius: 5px !important;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
        ion-card-header {
          border-bottom: 1px solid #f3eeee;
          text-transform: uppercase;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
          padding-top: 12px !important;
          padding-bottom: 12px !important;
          margin-left: 16px;
          margin-right: 16px;
          h4 {
            display: none;
            font-weight: bold;
          }
          p {
            font-weight: bold;
            i {
              float: right;
            }
          }
        }
        ion-card-content {
          padding-top: 8px !important;
          padding-bottom: 8px !important;
        }
      }
    }
  }
}
