<ion-header no-border>
    <ion-navbar color="themePrimaryOrangeStrongColor" [ngClass]="isSearchbarOpened ? 'hiddenBack' : ''">
        <ion-title *ngIf="!isSearchbarOpened">
            {{ titleHeader }}
        </ion-title>
        <ion-searchbar #searchBar *ngIf="isSearchbarOpened" showCancelButton="true"
            placeholder="Filtre algún texto de la cita" (ionInput)="getItems($event)" (ionCancel)="cancelSearch()">
        </ion-searchbar>
        <ion-buttons end *ngIf="isButtonSearchVisibility && searchCitas.length>0">
            <button *ngIf="!isSearchbarOpened" ion-button icon-only (click)="openedSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top no-border *ngIf="!isSearchbarOpened">
        <ion-segment [(ngModel)]="page" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="perfil">
                <span>
                    Perfil
                </span>
            </ion-segment-button>
            <ion-segment-button value="citas">
                <span>
                    Citas
                </span>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div class="headerBorder"
        [ngClass]="{ 'themePrimaryOrangeStrongColor': !isSearchbarOpened, 'blanco':isSearchbarOpened }">
        <div class="contenedor"></div>
    </div>
</ion-header>

<ion-content>
    <ion-fab right bottom *ngIf="fabPerfil" #fab>
        <button ion-fab color="themePrimaryOrangeStrongColor">
            <ion-icon name="more"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab [navPush]="medicoEditar" [navParams]="{ 'medico': medico }">
                <ion-icon name="create" (click)="closeFab(fab)"></ion-icon>
            </button>
            <button ion-fab (click)="deleteMedico(medico.id)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab right bottom *ngIf="fabCitas">
        <button ion-fab color="themePrimaryOrangeStrongColor" [navPush]="medicoCitaCrear"
            [navParams]="{ 'medico': medico }" (click)="cancelSearch()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ion-slides (ionSlideDidChange)="slideDidChanged($event)" (ionSlideWillChange)="slideWillChanged($event)">
        <ion-slide class="perfilToolbar">
            <div text-center class="profileMedico">
                <div class="photoMedico">
                    <img *ngIf="medico.prefix==='dr'" src="assets/imgs/random/doctor-men.svg" />
                    <img *ngIf="medico.prefix==='dra'" src="assets/imgs/random/doctor-women.svg" />
                    <!-- <ion-icon name="custom-doctor" color="themePrimaryOrangeStrongColor"></ion-icon> -->
                </div>
            </div>
            <ion-card>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                            <p>Nombres</p>
                            <h2>{{ medico.names }}</h2>
                        </ion-item>
                        <ion-item>
                            <p>Especialidad</p>
                            <h2>{{ medico.speciality }}</h2>
                        </ion-item>
                        <ion-item *ngIf="medico.phone">
                            <p>Teléfono</p>
                            <h2>{{ medico.phone }}</h2>
                            <ion-icon name="call" item-end (click)="callMedico(medico.phone)"></ion-icon>
                        </ion-item>
                        <ion-item *ngIf="medico.email">
                            <p>E-mail</p>
                            <h2 class="emailText">{{ medico.email }}</h2>
                            <ion-icon name="mail" item-end (click)="sendEmailMedico(medico.email)"></ion-icon>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide class="citasToolbar">
            <div class="emptyCitas" *ngIf="citas.length==0 && citasZero">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-icon name="custom-cita" color="themePrimaryOrangeStrongColor"></ion-icon>
                            <p>Aún no has agregado cita(s)<br>comienza agregando uno</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div class="listadoCitas" *ngIf="citas.length>0 && !citasZero">
                <ion-card *ngFor="let cita of citas">
                    <ion-card-header>
                        <h4>Tienes una nueva cita</h4>
                        <p>
                            <i class="material-icons">alarm</i>
                            {{ cita.day }} {{ cita.hour }}
                            <i class="material-icons float-right" (click)="optionCita(cita)">more_vert</i>
                        </p>
                    </ion-card-header>
                    <ion-card-content>
                        <div [innerHtml]="cita.question"></div>
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>