page-medico-detalle {
  ion-header {
    ion-navbar {
      &.hiddenBack {
        &.toolbar-md {
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
          button {
            &.back-button {
              display: none !important;
            }
          }
          .toolbar-background {
            background-color: #fff !important;
          }
          ion-searchbar {
            input {
              box-shadow: none !important;
            }
          }
        }
      }
      ion-title {
        .toolbar-title {
          padding-left: 0;
        }
      }
    }
    ion-toolbar {
      min-height: 42px !important;
      padding: 0 !important;
      .toolbar-content {
        background-color: color($colors, orangeMaterial) !important;
        ion-segment {
          height: 42px !important;
          padding-left: 1.7rem !important;
          padding-right: 1.7rem !important;
          ion-segment-button {
            border-bottom: 0px !important;
            &.segment-activated {
              border-bottom: 4px solid #fff !important;
              span {
                font-size: 1.3rem !important;
              }
            }
            span {
              color: #fff !important;
              font-family: "vagBold";
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }
  ion-content {
    ion-slides {
      background-color: color($colors, blanco) !important;
      ion-slide {
        &.swiper-slide {
          text-align: inherit !important;
        }
        .slide-zoom {
          height: 100%;
          text-align: inherit !important;
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }
    }
    .perfilToolbar {
      .profileMedico {
        margin-top: 2rem;
        margin-bottom: 2rem;
        .photoMedico {
          background-color: color($colors, light);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
          border-radius: 50%;
          padding: 2rem;
          width: 112px;
          height: 112px;
          margin: 0 auto;
          border: 0.6rem solid #fff;
          ion-icon {
            font-size: 6rem;
          }
        }
        h5 {
          font-weight: bold;
          margin-top: 1rem;
          margin-bottom: 0;
          font-family: "vagBold";
          text-transform: uppercase;
        }
        h6 {
          margin-top: 0;
          text-transform: capitalize;
        }
      }
      ion-card {
        margin: 0;
        width: 100%;
        box-shadow: none;
        ion-card-content {
          ion-list {
            button {
              border-radius: 5px;
              .item-inner {
                .input-wrapper {
                  ion-label {
                    p {
                      font-family: "vagBold";
                      text-transform: uppercase;
                      font-size: 1rem;
                      color: #959da0;
                    }
                    h2 {
                      margin-top: 0 !important;
                      text-transform: capitalize;
                      &.emailText {
                        text-transform: inherit !important;
                      }
                    }
                  }
                }
                ion-icon {
                  color: rgba(71, 77, 84, 1);
                }
              }
            }
          }
        }
      }
    }
    .citasToolbar {
      .emptyCitas {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        ion-grid {
          padding: 0;
          margin-top: -4rem;
          ion-row {
            ion-col {
              text-align: center;
              ion-icon {
                font-size: 10rem;
              }
              p {
                margin: 0;
                font-size: 1.7rem;
              }
            }
          }
        }
      }
      .listadoCitas {
        padding: 2rem;
        ion-card {
          border-radius: 5px !important;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
          margin: 10px 0 !important;
          width: 100%;
          ion-card-header {
            border-bottom: 1px solid #f3eeee;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0.8rem !important;
            padding-bottom: 0.8rem !important;
            margin-left: 16px;
            margin-right: 16px;
            h4 {
              display: none;
              font-weight: bold;
            }
            p {
              font-weight: bold;
              i {
                position: relative;
                top: 0.6rem;
                &.float-right {
                  float: right;
                }
              }
            }
          }
          ion-card-content {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            white-space: pre-line !important;
            // textarea {
            //   width: calc(100% - 10px);
            //   border: 0;
            //   border-radius: 0;
            //   background: transparent;
            // }
          }
        }
      }
    }
  }
  .searchbar-md .searchbar-search-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel {
    display: block !important;
    span {
      ion-icon {
        color: color($colors, orangeMaterial) !important;
        font-size: 1.5em !important;
      }
    }
  }
}
.action-sheets-cita {
  .action-sheet-title {
    padding: 10px 16px 5px;
    font-family: "vagBlack";
    text-transform: uppercase;
  }
  .action-sheet-sub-title {
    padding: 5px 16px 10px;
    font-family: "vagBlack";
  }
  button {
    span {
      ion-icon {
        margin-right: 2rem !important;
        font-weight: bold !important;
      }
    }
  }

  .ion-md-create {
    color: color($colors, greenMaterial);
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: color($colors, redMaterial);
  }
}
