<ion-header>
    <ion-navbar color="greenMaterial">
        <ion-title>PROGRESO</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="ionSpinner" *ngIf="loadInit">
        <ion-spinner color="greenMaterial"></ion-spinner>
    </div>

    <ng-container *ngIf="!loadInit">
        <div class="centerDiv" *ngIf="progresos.length==0">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-icon name="custom-progreso" color="greenMaterial"></ion-icon>
                        <p>Aún no has creado recordatorio(s), comienza agregando uno para mostrar el progreso</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="listado" *ngIf="progresos.length>0">
            <ng-container *ngFor="let progreso of progresos; let i=index">
                <p>{{ progreso.day_duration | moment:"dddd, D MMMM YYYY" }}</p>
                <ion-card *ngFor="let medicamento of progreso.medicamento; let j=index">
                    <ion-card-header>
                        <h2>
                            <ion-icon name="custom-hoy" color="blueMaterial"></ion-icon>
                            {{ medicamento.name }}
                        </h2>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row align-items-center *ngFor="let data of medicamento.data; let k=index"
                                [navPush]="progresoDetalle" [navParams]="{ 'recordatorio': data }">
                                <ion-col col-1>
                                    <ion-icon *ngIf="data.status===2" color="greenMaterial" name="checkbox"></ion-icon>
                                    <ion-icon *ngIf="data.status===0" color="redMaterial" name="close-circle">
                                    </ion-icon>
                                </ion-col>
                                <ion-col col-9>
                                    <span>{{ data.quantity }} pastilla{{ (data.quantity>1) ? 's': '' }}</span>
                                    <p>{{ data.note }}</p>
                                </ion-col>
                                <ion-col col-2>
                                    <span>{{ data.hour }}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>
    </ng-container>


</ion-content>