<ion-header>
    <ion-navbar color="blueMaterial">
        <ion-title>HOY</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab right bottom>
        <button ion-fab color="blueMaterial" [navPush]="hoyMedicamento">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <div class="emptyRecordatorio" *ngIf="recordatorios.length==0">
        <ion-grid>
            <ion-row justify-content-center align-items-center>
                <ion-col>
                    <ion-icon name="custom-hoy" color="blueMaterial" item-start></ion-icon>
                    <p>Aún no has creado recordatorio(s)<br>comienza agregando uno</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="listadoRecordatorio" *ngIf="recordatorios.length>0">
        <ion-list *ngFor="let recordatorio of recordatorios">
            <button ion-item>
                <ion-icon name="custom-hoy" item-start></ion-icon>
                <h2>Bactrim</h2>
                <p>5 pastilla(s)</p>
                <ion-note item-end>08:00</ion-note>
            </button>
        </ion-list>
    </div>

</ion-content>