page-hoy {
  ion-content {
    .ionSpinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .emptyRecordatorio {
      padding-top: 1rem;
      height: 100%;
      ion-grid {
        height: 100%;
        ion-row {
          height: 100%;
          ion-col {
            text-align: center;
            ion-icon {
              font-size: 10rem;
            }
            p {
              font-size: 2rem;
              //   font-weight: bold;
            }
          }
        }
      }
    }
    .listadoRecordatorio {
      ion-list {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
        button {
          ion-icon {
            color: color($colors, blueMaterial) !important;
          }
          .item-inner {
            margin-left: 1rem !important;
            ion-label {
              h2 {
                margin-top: 0 !important;
                font-family: "vagBold";
              }
              p {
              }
            }
            ion-note {
              font-size: 1.5rem;
              align-self: center;
              font-family: "vagBold";
              color: #222;
            }
          }
        }
      }
    }
  }
}
