<ion-header>
    <ion-navbar color="blueMaterial">
        <ion-title>HOY</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab right bottom [hidden]="loadInit">
        <button ion-fab color="blueMaterial" [navPush]="hoyMedicamento">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ng-container *ngIf="loadInit">
        <div class="ionSpinner">
            <ion-spinner color="blueMaterial"></ion-spinner>
        </div>
    </ng-container>

    <ng-container *ngIf="!loadInit">

        <div class="emptyRecordatorio" *ngIf="recordatorios.length==0">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-icon name="custom-hoy" color="blueMaterial" item-start></ion-icon>
                        <p>Aún no has creado recordatorio(s) comienza agregando uno</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="listadoRecordatorio" *ngIf="recordatorios.length>0">
            <ion-list>
                <button ion-item *ngFor="let recordatorio of recordatorios" [navPush]="hoyDetalle"
                    [navParams]="{ 'recordatorio': recordatorio }">
                    <ion-icon name="custom-hoy" item-start color="blueMaterial"></ion-icon>
                    <h2>{{ recordatorio.name }}</h2>
                    <p>{{ recordatorio.note }}</p>
                    <p>{{ recordatorio.quantity }} pastilla{{ (recordatorio.quantity>1)? 's':'' }}</p>
                    <ion-note item-end>{{ recordatorio.hour }}</ion-note>
                </button>
            </ion-list>
        </div>
    </ng-container>

</ion-content>